.container {
  height: 100vh;
  width: 100%;
  background-color: bisque;
}

.navbar {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
}

.navbar a {
  margin: 10px;
  padding: 20px;
  text-decoration: none;
  background-color: darkcyan;
  color: white;
}

.home {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: azure;
}

.home > div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 20px;
  background-color: darkcyan;
  color: white;
  flex-grow: 1;
}

.home > div:nth-child(2) {
  flex-grow: 2;
}

.learning {
  width: 30vw;
}

.working {
  border-left: 10px solid bisque;
}

.reading {
  border-left: 10px solid bisque;
}

h2,
h3 {
  border-left: 5px solid turquoise;
  padding-left: 10px;
  color: turquoise;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

li {
  list-style-type: none;
  padding-left: 15px;
}
